<!DOCTYPE html>
<html>
<head>
    <title>საარჩევნო პლატფორმა</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'elections/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>საარჩევნო პლატფორმა</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">სისტემიდან გამოსვლა</a>
        {% endif %}
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>




