{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">კანდიდატთა სია</h1>
<div class="card">
    <ul>
        {% for candidate in candidates %}
            <li>
                {{ candidate.name }} {{ candidate.surname }} (პარტია: {{ candidate.party }}, ასაკი: {{ candidate.age }})
                {% if user.is_superuser %}
                    - ხმათა რაოდენობა: {{ candidate.vote_set.count }}
                {% endif %}
                <a href="{% url 'vote' candidate.pk %}">ხმის მიცემა</a>
            </li>
        {% endfor %}
    </ul>    
</div>
<div class="centered-button">
    {% if not user.is_superuser %}
        <a href="{% url 'homepage' %}" class="button">უკან დაბრუნება</a>
    {% endif %}
</div>
{% endblock %}




