{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2 class="center-text">თქვენი არჩევანი: {{ candidate.name }} {{ candidate.surname }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_voter_name">ამომრჩევლის სახელი:</label>
            {{ form.voter_name }}
        </div>
        <div class="form-group">
            <label for="id_voter_surname">ამომრჩევლის გვარი:</label>
            {{ form.voter_surname }}
        </div>
        <div class="centered-button">
            <button type="submit" class="button">არჩევანის დაფიქსირება</button>
        </div>
    </form>
</div>
<div class="centered-button">
    {% if not user.is_superuser %}
        <a href="{% url 'user_candidate_list' %}" class="button">უკან დაბრუნება</a>
    {% endif %}
</div>
{% endblock %}


        
    
  